.header {
  text-align: center;
}

.calculator {
  width: 250px;
  height: 400px;
  border: 2px solid black;
  margin: 100px auto 0;
  text-align: center;
  background-color: #CFE2F3;
  box-shadow: 0 0 30px grey;
  border-radius: 4px;
}

.calculator__form {
  height: 100%;
  padding: 20px;
}

.calculator__row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.calculator__display {
  margin: 0 0 20px;
  width: 100%;
  height: 50px;
  border: 1px solid #000;
  padding: 10px;
  text-align: right;
  font: 700 16px/1 Arial, sans-serif;
  color: #000;
  background-color: #fff;
}

.calculator__input, .calculator__output {
  height: 50%;
}

.calculator__output {
  color: #ccc;
}

.calculator__key {
  width: 41px;
  height: 35px;
  cursor: pointer;
  border: 1px solid #000;
  outline: none;
  transition: all .2s;
  text-transform: uppercase;
}

.calculator__img {
  width: 80%;
}

.calculator__img {
  width: 80%;
}

.calculator__clear {
  background-color: #ccc;
}

.calculator__operator {
  border: 1px solid #ff9900;
}

.calculator__key--equal {
  background-color: #ff9900;
  width: 98px;
}

.calculator__key:hover {
  background-color: #cfe2f3;
}

.calculator__key:active {
  font-weight: 700;
}
